---
import Layout from "../../layouts/Layout.astro";
import i1 from "../../images/soluciones/ee/1.png";
import i2 from "../../images/soluciones/ee/2.png";
import i3 from "../../images/soluciones/ee/3.png";
import i4 from "../../images/soluciones/ee/4.jpg";
import i5 from "../../images/soluciones/ee/5.png";
import i31 from "../../images/soluciones/ee/31.png";
---

<Layout title="Soluciones | Eficiencia Energética">
	<main>
		<div
			class="section cover is-flex is-flex-direction-column is-justify-content-center"
		>
			<h1 class="title-text blue">Eficiencia Energética</h1>
		</div>
		<section>
			<div class="section">
				<p class="has-text-centered">
					La Eficiencia Energética en la industria está relacionado a
					las acciones que permiten optimizar los procesos productivos
					y energéticos combinados con el fin de disminuir o mantener
					el consumo de la energía con el fin de mejorar continuamente
					su productividad buscando empresas sostenibles y con visión
					de descarbonización para apoyar a los Objetivos de
					Desarrollo Sostenible de la Organización de las Naciones
					Unidas.
				</p>
				<p class="has-text-centered">
					Según la Norma ISO 50001:2018, la Eficiencia Energética es
					una parte de la Gestión de la Energía y es una relación
					entre la energía de salida y la energía de entrada, de tal
					forma, que es una consecuencia de la optimización del uso y
					del consumo de la energía.
				</p>
			</div>
		</section>
		<section>
			<div class="container">
				<div class="columns">
					<div
						class="column is-flex is-flex-direction-column is-justify-content-center"
					>
						<h2 class="title-text blue">
							Implementación de la Norma ISO 50001
						</h2>
						<p>
							CEPEL implementa la Norma ISO 50001:2018,
							documentando la información de acuerdo a la
							ejecución de los procesos energéticos que aseguren
							la mejora continua del desempeño energético en las
							organizaciones.
						</p>
						<p>
							La implementación tiene una duración de 12 meses,
							tiempo en el cual se implementan las oportunidades
							de mejora del desempeño energético de gestión para
							asegurar la optimización de los procesos energéticos
							y reducir el payback del proyecto.
						</p>
					</div>
					<div class="column">
						<div class="img-hover-zoom">
							<img src={i1.src} alt="ee 1" />
						</div>
					</div>
				</div>
				<hr />
			</div>
		</section>

		<section>
			<div class="container">
				<div class="columns">
					<div class="column">
						<div class="img-hover-zoom">
							<img src={i2.src} alt="ee 2" />
						</div>
					</div>
					<div
						class="column is-flex is-flex-direction-column is-justify-content-center"
					>
						<h2 class="title-text blue">Economía Circular</h2>
						<p>
							Optimizamos los procesos industriales redefiniendo
							los residuos en nuevos productos; con el fin de
							reducir-reusar-reciclar los recursos productivos
							buscando la eficiencia en sus procesos para asegurar
							organizaciones sostenibles en el tiempo.
						</p>
					</div>
				</div>
				<hr />
			</div>
		</section>

		<section>
			<div class="container">
				<div class="columns">
					<div
						class="column is-flex is-flex-direction-column is-justify-content-center"
					>
						<h2 class="title-text blue">Programas</h2>
						<p>
							CEPEL desarrolla Programas de Eficiencia Energética
							usando la metodología de la Norma ISO 50001,
							buscando una rápida consecución de ahorros
							económicos y energéticos. El Programa tiene una
							duración de 12 meses, en donde se capacita al
							personal de la industria en todas las herramientas
							de la metodología CEPEL.
							<p></p>
							El Programa tiene una duración de 12 meses, para desarrollar
							las capacidades in house y habilidades al personal de
							la industria en todas las herramientas de la metodología
							CEPEL; e implementamos los planes de acción para la mejora
							de desempeño energético que asegura un período de retorno
							de la inversión menor a un año.
						</p>
					</div>
					<div class="column">
						<div class="img-hover-zoom">
							<img src={i3.src} alt="ee 3" />
						</div>
					</div>
				</div>
				<div class="img-hover-zoom">
					<img src={i31.src} alt="ee 3" />
				</div>
				<hr />
			</div>
		</section>

		<section>
			<div class="container">
				<div class="columns">
					<div class="column">
						<div class="img-hover-zoom">
							<img src={i4.src} alt="ee 4" />
						</div>
					</div>
					<div
						class="column is-flex is-flex-direction-column is-justify-content-center"
					>
						<h2 class="title-text blue">Data Science</h2>
						<p>
							La estadística aplicada en la actualidad representa
							una herramienta estratégica fundamental para la toma
							de decisiones en base a los datos reales de los
							instrumentos y equipos de medición.
							<p></p>
							Mediante algoritmos de Machine & Deep Learning es posible
							consolidar al mejoramiento continuo de la productividad,
							ambiental y energético de las organizaciones para apoyar
							al desarrollo sostenible.
						</p>
					</div>
				</div>
				<hr />
			</div>
		</section>

		<section>
			<div class="container">
				<div class="columns">
					<div
						class="column is-flex is-flex-direction-column is-justify-content-center"
					>
						<h2 class="title-text blue">Auditorías Energéticas</h2>
						<p>
							Desarrollamos auditorías energéticas tomando como
							base los requisitos del punto 6.3 revisión
							energética de la Norma ISO 50001:2018. El análisis
							de las oportunidades de mejora del desempeño
							energético es realizado buscando identificar los
							siguientes beneficios:
						</p>
						<ul>
							<li>Auditorías Internas</li>
						</ul>
					</div>
					<div class="column">
						<div class="img-hover-zoom">
							<img src={i5.src} alt="ee " />
						</div>
					</div>
				</div>
				<hr />
			</div>
		</section>
	</main>
</Layout>

<style>
	h1 {
		font-size: 4rem;
	}
	.cover {
		background-image: url("../../images/soluciones/ee/cover.jpg");
		max-height: 400px;
		min-height: 350px;
		object-fit: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
	section:nth-child(even) {
		background-color: #f2f2f2;
	}
	.img-hover-zoom {
		overflow: hidden;
	}
	img {
		transition: transform 0.2s;
		margin: 0 auto;
		max-height: 450px;
	}
	img:hover {
		transform: scale(1.2);
	}
	.img-hover-zoom img {
		margin: auto;
		display: block;
		max-height: 300px;
		min-height: 200px;
	}
</style>
